@media screen and (min-width:1200px)
{
	#main-article {
		font-size: 1.2em;
	}
}

.container {
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
}

html {
	height: 100%;
}
body {
    background: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#main-header {
	flex: 0 1 auto;
	background: #fff;
	margin: 1em auto;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	align-content: center;
	justify-content: space-between;
}
#main-header nav {
	flex: 1 0 auto;
	background: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-end;
	justify-content: flex-end;
	line-height: 5em;
}
#main-header a {
	display: inline-block;
	margin: 0 0.5em;
}
#main-header a:first-child {
	margin-left: 0;
}
#main-header a:last-child {
	margin-right: 0;
}

header hgroup {
	line-height: 1.5em;
	font-size: 0.75em;
}
header hgroup h1,
header hgroup h2 {
	margin:0;
}
header a {
	line-height:1.5em;
	color: #563d7c;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	transition: all 0.25s;
}
header a:hover {
	border-color: #866dac;
}
.banner {
	flex: 2 1 auto;
	background: #6f5499 linear-gradient(to bottom, #563d7c, #6f5499) repeat-x;
    color: #cdbfe3;
}
.banner .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
article {
	flex: 3 0 auto;
	margin: 1em auto;
	background: #fefefe;
	padding: 1em 0;
	font-size:0.9em;
}
footer {
	flex: 1 0 auto;
	background: #eee;
	background-image: linear-gradient(to bottom, #eee, #f4f4f4);
    background-repeat: repeat-x;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: #888;
	font-size: 0.9em;
	border-top: 1px solid #ddd;
	box-shadow: inset 2px 0 0.15em rgba(0,0,0,0.1);
}
