@media screen and (min-width: 1024px) {
	body div#content {
		flex-direction:row;
	}
	body div#content aside {
		max-width:400px;
		border-top-width:0;
		border-left:1px solid #eee;
		padding: 0 0 0 1em;
	}
}

h1 { font-weight:normal; }
h2 { margin-bottom: 0.25em; }
time { font-size:0.9rem; color:#999; }

body > header {
	background:#333;
	color:#f3f3f3;
	font-size:0.8rem;
}
body > header a,
body > header a:hover {
	color:#f3f3f3;
	border-width:0;
}

a {
	color:#0095dd;
	text-decoration:none;
	border-bottom:1px solid #ddd;
	transition: color 0.2s, border 0.2s;
	outline:0;
}
a:hover {
	border-color:#0095dd;
	color:#0085cd;
}

body > header,
body > div#content,
body > footer {
	padding:1em;
}

body {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

div#content {
	flex-grow:0;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}
div#content > main {
	flex-grow:1;
	flex-shrink:0;
	max-width:40em;
}
div#content > aside {
	font-size:0.8rem;
	color:#555;
	border-top:1px solid #eee;
	padding: 1em 0;
	flex-grow:0;
}

body > footer {
	font-size:0.9rem; 
	color:#666;
	border-top:1px solid #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}